# ======================================
# Raspberry Pi Camera Configuration
# ======================================


# ======================================
# Camera Device
# ======================================

[camera]

# 摄像头设备
device=/dev/video0

# 输入格式
# 当前摄像头测试稳定为 MJPEG
input_format=mjpeg



# ======================================
# Photo Configuration
# ======================================

[photo]

# 照片宽度
width=3840

# 照片高度
height=2160

# 图片格式
format=jpg

# 图片来源
source=MJPEG



# ======================================
# Video Capture Configuration
# ======================================

[video]

# 视频宽度
width=1440

# 视频高度
height=720

# 帧率
fps=30

# 输出格式
container=mp4



# ======================================
# Video Encoder
# ======================================

[encoder]

# 编码器
codec=libx264

# preset
# 当前测试:
# ultrafast CPU约260%
preset=ultrafast

# 低延迟模式
tune=zerolatency

# H264 profile
profile=baseline


# 视频码率
# 单位 bps
bitrate=8000000



# ======================================
# x264 Parameters
# ======================================

[x264]

# GOP长度
gop=60

# 最小关键帧间隔
keyint_min=30

# 禁止场景切换自动插入I帧
params=scenecut=0



# ======================================
# Output Directory
# ======================================

[path]

# 输出根目录
output=output

# 图片目录
photo_dir=photos

# 视频目录
video_dir=videos



# ======================================
# Runtime
# ======================================

[runtime]

# 状态检查间隔
# 秒
status_interval=30


# ffmpeg日志
# true  显示
# false 隐藏
ffmpeg_log=false